config NOTHING_BOOTLOADER_LOG
	tristate "Nothing bootloader log driver"
	default n
	help
		show booloader_log under proc/bootloader_log

config NOTHING_RESTART_HANDLER
	tristate "Nothing power-off function enhance"
	default n
	help
	  store restart info into imem.

config NOTHING_TASK_MEMINFO
	tristate "Nothing show all task memory info driver"
	default n
	help
		cat /proc/nt_meminfo/show_all_tasks will show all task meminfo

config NOTHING_SECURE_ELEMENT
	tristate "Nothing secure state"
	default n
	help
		This driver getting secure info from hw which setting up in early stage.
